<footer style="margin-top: -40px;">
  <p>
    Subscribe below to get an email every time a new post drops on
    {{ .Site.Title }}
  </p>
  <form
    name="email"
    method="POST"
    action="thank-you"
    id="newsletter-form"
    netlify
  >
    <p style="display: none;">
      <label
        >Don’t fill this out if you're human: <input name="bot-field"
      /></label>
    </p>
    <label style="margin-right: 1px;">Email Address</label>
  </br>
    <input
      type="text"
      name="email"
      style="font-family: inherit; font-size: 100%; color: #555; min-width: 250px; margin-bottom: 15px; border-color: black; margin-top: 5px;"
    />
  </br>
    <label style="margin-right: 1px;">What's the three letter word for the animal that says "woof"?</label>
  </br>
    <input
      type="text"
      name="confirm"
      style="font-family: inherit; font-size: 100%; color: #555; min-width: 250px; margin-bottom: 15px; border-color: black; margin-top: 5px;"
    />
    <div
      style="justify-content: center; display: flex; margin-bottom: 15px;"
    ></div>
    <button
      type="submit"
      style="height: 30px; color: white; background-color: black; border: none;"
    >
      Sign up
    </button>
  </form>
</footer>
