		<nav class="nav">
			<div class="nav-container" style="display: flex; flex-direction: row; justify-content: space-between;">
				<a href="{{ "/" | relURL }}">
					<h2 class="nav-title">{{ .Site.Title }}</h2>
				</a>
				<div class="links-wrapper">
					<a class="about-link" href="/introducing-digital-inklings/" style="align-self: center;">
						<h4 style="margin: 0">About</h3>
					</a>
					<p style="margin: 0 10px; color: black">|</p>
					<a class="about-link" href="#newsletter-form" style="align-self: center;">
						<h4 style="margin: 0">Subscribe</h3>
					</a>
				<div>
				{{ partial "header-menu.html" . }}
			</div>
		</nav>
