{{ define "main" }}

<main>
  <div class="post">
    {{ partial "single/title.html" . }} {{ partial "single/header.html" . }}

    <img
      src="{{ index (.Params.Images) 0}}"
      style="width: 100%; margin-bottom: 25px;"
    />

    {{ .Content }} {{ partial "single/footer.html" . }}
  </div>

  <div class="pagination">
    {{- if .NextPage }}
    <a href="{{ .NextPage.RelPermalink }}" class="left arrow">&#8592;</a>
    {{- end }} {{- if .PrevPage }}
    <a href="{{ .PrevPage.RelPermalink }}" class="right arrow">&#8594;</a>
    {{- end }}
  </div>
</main>

{{ end }}
